:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  align-items: center;
  height: 100vh;
}

main {
  width: 100vw;
  display: grid;
  justify-content: stretch;
  align-content: space-between;
  grid-template-rows: auto 70vh auto;
  height: 90vh;
}

.main-container {
  display: grid;
  place-content: center;
}

.roster-container,
.lineup-container {
  grid-area: 1 / 1;
}

.lineup-container {
  display: none;
  overflow: scroll;
  width: 100vw;
  font-size: 1.5rem;
}

details {
  padding: 0.3rem;
  border: solid 1px yellowgreen;
}
details:first-child > summary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
details:first-child > summary::after {
  content: '(latest)';
  margin-left: 1rem;
  color: yellowgreen;
}

ol {
  list-style-position: inside;
}

li {
  margin: 0 70px 0 30px;
  font-size: 1.8rem;
}

li:nth-child(odd) {
  background-color: #484848;
}

.roster-container {
  padding: 2rem;
  width: 80vw;
}

.make-lineup {
  visibility: hidden;
  border-radius: 0;
  background-color: yellowgreen;
  color: #242424;
}

.clear-data {
  border-radius: 0;
  background-color: #242424;
  border-width: 2px;
}

h2 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: underline greenyellow 5px;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid greenyellow;
  border-radius: 1rem;
  outline: none;
  font-size: 1.5rem;
}

button:active {
  background-color: #484848;
}
button:hover {
  opacity: 0.8;
}

button:focus {
  outline: 3px dashed dodgerblue;
}

input {
  width: 65%;
  height: 2.5rem;
  font-size: 1.5rem;
  padding: 0.7rem;
}

input:focus {
  outline: 3px dashed dodgerblue;
}

.top-button {
  border: none;
  background-color: #242424;
  color: greenyellow;
}

.lineup-btn {
  background-color: greenyellow;
  color: #242424;
}

.add-to-roster {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

table {
  width: 100%;
}

th {
  font-size: 1.8rem;
}

td {
  font-size: 1.5rem;
}

th,
td {
  padding: 0 1rem;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #484848;
}

.roster-lineup-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.roster-lineup-container > button {
  width: 100%;
  border-radius: 0;
  height: 10vh;
  margin: 0;
}

.bottom-container {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
