:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --primary-color: hotpink;
    --color: rgba(255, 255, 255, 0.87);
    --active-color: hsla(151, 100%, 50%, 1);
    --inactive-color: hsla(8, 100%, 50%, 1);
    --gray-background: rgba(0, 0, 0, 0.6);
    --button: hsl(8, 0%, 90%);
    --background: #242424;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: lime;
        --button: hsl(8, 0%, 10%);
    }
    body {
        background-color: var(--background);
        color: var(--color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: hotpink;
        --background: rgba(255, 255, 255, 0.87);
        --color: #242424;
    }
    body {
        background-color: var(--background);
        color: var(--color);
        --gray-background: rgba(0, 0, 0, 0.3);
    }
}

body {
    margin: 0;
    display: grid;
    align-items: center;
    min-height: 100dvh;
}

html {
    height: 100dvh;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1024px;
    width: 100%;
    display: grid;
    justify-content: stretch;
    align-content: space-between;
    grid-template-rows: auto 80dvh auto;
    min-height: -webkit-fill-available;
    margin: auto;
}

.main-container {
    display: grid;
    justify-content: center;
}

.roster-container,
.lineup-container {
    grid-area: 1 / 1;
}

.roster-container {
    overflow-y: scroll;
    padding: 0;
    margin-top: 5rem;
}

.roster-container::-webkit-scrollbar {
    display: none;
}

.lineup-container::-webkit-scrollbar {
    display: none;
}
label[for="add-player"] {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr auto;
}

.table-heads {
    visibility: hidden;
}

.lineup-container {
    display: none;
    overflow-y: scroll;
    width: 100%;
    font-size: 1.5rem;
}

details {
    padding: 0.3rem;
    border: solid 1px var(--primary-color);
}
details:first-child > summary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}
details:first-child > summary::after {
    content: "(latest)";
    margin-left: 1rem;
    color: var(--primary-color);
}

ol {
    list-style-position: inside;
}

li {
    margin: 0 70px 0 30px;
    font-size: 1.6rem;
}

li:nth-child(odd) {
    background-color: var(--gray-background);
}

.make-lineup {
    visibility: hidden;
    border-radius: 0;
    background-color: var(--primary-color);
    color: var(--background);
}

.clear-data {
    border-radius: 0;
    background-color: var(--background);
    border-width: 2px;
    color: var(--color);
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: underline var(--primary-color) 5px;
}

button {
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    outline: none;
    font-size: 1.5rem;
}

button:active {
    background-color: #484848;
}
button:hover {
    opacity: 0.8;
}

button:focus {
    outline: 3px dashed dodgerblue;
}

input {
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0.7rem;
}

input:focus {
    outline: 3px dashed dodgerblue;
}

.top-button {
    border: none;
    background-color: var(--background);
    color: var(--primary-color);
}

.lineup-btn {
    background-color: var(--primary-color);
    color: var(--background);
}

.add-to-roster {
    height: auto;
    width: 4rem;
    font-size: 2rem;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 1.5rem;
}

td {
    font-size: 1.3rem;
}

th,
td {
    padding: 0 1rem;
    text-align: center;
}

tr {
    border-bottom: 2px solid var(--gray-background);
}

.roster-lineup-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr auto;
}
.roster-lineup-container > button {
    width: 100%;
    border-radius: 0;
    height: 10dvh;
    margin: 0;
    background-color: var(--background);
    color: var(--color);
}

.roster-lineup-container > button.inactive {
    width: 100%;
    border-radius: 0;
    height: 10dvh;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--color);
    opacity: 0.8;
    box-shadow: inset 0 -18px 18px -18px black;
}

.roster-lineup-container > .roster-btn.inactive {
    box-shadow:
        inset -18px 0 18px -18px black,
        inset 0 -18px 18px -18px black;
}

.roster-lineup-container > .lineup-btn.inactive {
    box-shadow:
        inset 18px 0 18px -18px black,
        inset 0 -18px 18px -18px black;
}

.bottom-container {
    height: 10dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* checkbox styles */
input[type="checkbox"] {
    appearance: none;
    background-color: var(--active-color);
    width: 3.7rem;
    height: 2.1rem;
    border-radius: 2rem;
    position: relative;
    top: 4.5px;
}

input[type="checkbox"]::before {
    --button-size: 1.9rem;
    content: "";
    position: absolute;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 1.8rem;
    top: 1.7px;
    left: 2px;
    background-color: var(--button);
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: var(--inactive-color);
}

input[type="checkbox"]:checked::before {
    transform: translateX(25px);
}
